.background-image {
  position: relative;
  background-image: url('../../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.form-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff; /* Fundo branco para o formulário */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  z-index: 3;
}

.tituloReserva {
  text-align: center;
  color: #333; /* Cor do título alterada para melhorar a visibilidade */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra mais sutil */
}

.buttonReserva {
  background-color: #2196F3;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.buttonReserva:hover {
  background-color: #4CAF50;
}

.form-reserva {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Fundo branco para o formulário */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-reserva .form-label {
  font-weight: bold;
}

.form-reserva .form-control {
  border-radius: 5px;
}

.form-reserva .button-reserva {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  border-color: #007bff;
}

.form-reserva .button-reserva:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  .tituloReserva {
    font-size: 1.5rem;
  }

  .form-reserva {
    padding: 15px;
  }

  .form-reserva .button-reserva {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .form-container {
    padding: 10px;
  }

  .form-reserva {
    padding: 10px;
  }

  .form-reserva .button-reserva {
    font-size: 14px;
    padding: 8px;
  }
}
